**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json

Testing

src/libmosalloc-api.so
src/libmosalloc.so
test/mosalloc-test
test/reserveHugePages.sh

Testing/
__pycache__/
